
.comments-form-outer{
    text-align: left;
}

.comments-verifycode{
    position: relative;
    float:right;
    top:-50px;
    right: 25px;
}
.comments-form-outer-item{
    margin: 20px auto;
}

.comments-form-outer-item .button{
    float:right;
}

.comment-title-css{
    font-weight: bold;
    font-size: 18px;
    color: #722ed1;
}